<exo-header></exo-header>
<section class="main relative">
  <div class="main-wrapper flex fw-wrap jc-start ai-end p-x-xl p-s-0">
    <div class="col-6 col-s-12 z-index m-l-l m-s-0">
      <h1 class="c-light ta-left exo-headline">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex  jc-between ai-center c-light z-index">
      <div class="col-6 m-l-m m-s-0">
        <h4>A journey of the senses</h4>
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-7 ta-left">
    <h2 class="m-y-s">Heading of the Blog text</h2>
    <span class="category">Date: 16.03. 2020</span>
    <h3 class="m-y-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis mollit anim id est laborum.</h3>
    <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
  </div>
  <div class="col-10 blog-img m-y-l">
  </div>
  <div class="col-7 ta-left">
    <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
  </div>
  <div class="col-7 p-l-l b-l m-y-m">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-7 ta-left">
    <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
    <p class="m-y-l">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
    <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
  </div>
  <div class="col-10 flex m-y-xl">
    <div class="col-6 featured-img"></div>
    <div class="col-6 single-img"></div>
  </div>
</div>
<!--<scully-content></scully-content>-->
<exo-footer></exo-footer>
