<exo-header></exo-header>
<section class="main relative">
  <div class="grid h-full ai-center">
    <div class="col-6 col-s-12 z-index m-l-l m-s-0">
      <h1 class="c-light ta-center exo-headline">{{item.title}}</h1>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-8 ta-justify">
    <h2>{{item.title}}</h2>
    <p class="category m-y-s">{{item.date | date}}</p>
    <scully-content></scully-content>
    <div class="col-5 social-icons flex fw-wrap ai-center jc-between">
      <p class="fw-bold w-full m-y-s">Share:</p>
      <a href="">
        <img src="assets/icons/facebook.svg" alt="facebook">
      </a>
      <a href="">
        <img src="assets/icons/pinterest.svg" alt="pinterest">
      </a>
      <a href="">
        <img src="assets/icons/twitter.svg" alt="twitter">
      </a>
    </div>
  </div>
</div>

<exo-footer></exo-footer>
