<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>
<div class="grid m-y-l">
  <div class="col-8 col-s-12 ta-center font-tertiary text-wrapper" intersecting data-animation="fade-in">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-start">
    <div class="col-6 col-s-12 p-y-m relative product" *ngFor="let product of product$ | async;" intersecting data-animation="fade-in">
      <div class="product-wrapper" [ngStyle]="{'background-image': 'url('+ product.image +')'}">
      </div>
      <h3 class="m-t-l">{{product.title}}</h3>
      <p class="m-y-s">{{product.description}}</p>
      <a class="btn-primary flex ai-center jc-center" [routerLink]="product.route">Read More</a>
    </div>
  </div>
</section>
<exo-footer></exo-footer>
