<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>
<div class="grid m-y-l" *ngIf="page.firstSegment">
  <div class="col-6 col-s-12 ta-center">
    <p>{{page.firstSegment | text}}</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-between ai-center b-b p-y-m" *ngFor="let news of news$ | async;" intersecting data-animation="fade-in-from-bottom">
    <div class="col-5 col-s-6 col-xs-12 ta-left">
      <img src="{{news.image}}">
    </div>
    <div class="col-4 col-s-6 col-xs-12 c-dark">
      <h1>{{news.title}}</h1>
      <div class="flex ai-center jc-between w-full m-t-s">
        <span class="category">{{news.date}}</span>
        <span class="category">Category:{{news.category}}</span>
      </div>
      <p class="m-t-s m-b-l">{{news.description}}</p>
      <a class="btn-primary m-t-l" [routerLink]="news.route">Read More</a>
    </div>
  </div>
</section>
<exo-footer></exo-footer>
