<exo-header></exo-header>
<section class="main relative">
  <div class="main-wrapper flex fw-wrap jc-start ai-end p-x-xl p-s-0">
    <div class="col-6 col-s-12 z-index m-l-l m-s-0">
      <h1 class="c-light ta-left exo-headline">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex  jc-between ai-center c-light z-index">
      <div class="col-6 m-l-m m-s-0">
        <h4>A journey of the senses</h4>
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-6 col-s-12 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-between ai-center b-b p-y-m">
    <div class="col-7 col-s-6 col-xs-12 ta-left">
      <img src="assets/images/news/news-exo.png" >
    </div>
    <div class="col-5 col-s-6 col-xs-12 c-dark flex fd-col jc-center ai-start p-a-l welcome">
      <h1>Exo Menu <br>Lounge</h1>
      <div class="flex ai-center jc-between w-full m-t-s">
        <span class="category">Date: 16.03. 2020</span>
        <span class="category">Category: Blah blaaah</span>
      </div>
      <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      <button class="btn-primary m-t-l">Read More</button>
    </div>
  </div>
</section>
<section class="m-y-l">
  <div class="grid jc-between ai-center">
    <div class="col-7 col-s-6 col-xs-12 ta-left">
      <img src="assets/images/news/news-lounge.png" >
    </div>
    <div class="col-5 col-s-6 col-xs-12 c-dark flex fd-col jc-center ai-start p-a-l welcome">
      <h1>Exo Menu <br>Lounge</h1>
      <div class="flex ai-center jc-between w-full m-t-s">
        <span class="category">Date: 16.03. 2020</span>
        <span class="category">Category: Blah blaaah</span>
      </div>
      <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      <button class="btn-primary m-t-l">Read More</button>
    </div>
  </div>
</section>
<ul>
  <li *ngFor="let route of news$ | async">
    <a [routerLink]="route.route">{{ route.title || route.route}}</a>
  </li>
</ul>
<exo-footer></exo-footer>
