


@media (max-width: 600px) {

  section, .grid {
    padding: 0;
  }


  .title {
    margin: 10px 0;
  }

  h1 {
    font-size: 30px;
  }

  .img-wrapper {
    text-align: left;
    margin-top: 20px;
  }

  img {
    width: 100%;
  }

}

