<section class="p-y-l">
  <div class="grid jc-around ai-center">
    <div class="col-5 col-s-6 col-xs-12 ta-left" intersecting [attr.data-animation]="data.animation || 'none'">
      <img [src]="data.image">
    </div>
    <div class="col-4 col-s-6 col-xs-12 c-dark ta-left">
      <div *ngIf="!data.belowImg; else belowImg">
        <h3>{{data.title}}</h3>
        <div class="m-t-m font-primary" [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'"></div>
      </div>
      <ng-template #belowImg>
        <div class="ta-left">
          <h3>{{data.title}}</h3>
          <div class="m-t-m font-primary" [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'"></div>
          <img [src]="data.belowImg" alt="" class="m-t-xxl w-full img-wrapper" intersecting [attr.data-animation]="data.animation || 'none'">
        </div>
      </ng-template>
    </div>
  </div>
</section>
