<section class="m-y-xl">
  <div class="container jc-around ai-center">
    <div class="col-5 col-s-6 col-xs-12 ta-left image-container" intersecting [attr.data-animation]="data.animation || 'none'">
      <img [src]="data.image">
    </div>
    <div class="col-4 col-s-6 col-xs-12 c-dark ta-left content-wrapper">
      <div *ngIf="!data.belowImg; else belowImg">
        <h3 class="m-y-s title"  intersecting [attr.data-animation]="data.animation || 'none'">{{data.title}}</h3>
        <div class="font-primary" [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'"></div>
      </div>
      <ng-template #belowImg>
        <div class="ta-left mobile-wrapper">
          <h3 class="m-y-s title mobile-wrapper-title" intersecting [attr.data-animation]="data.animation || 'none'">{{data.title}}</h3>
          <div class="font-primary mobile-wrapper-content" [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'"></div>
          <img [src]="data.belowImg" alt="" class="m-t-xxl w-full img-wrapper mobile-wrapper-image" intersecting [attr.data-animation]="data.animation || 'none'">
        </div>
      </ng-template>
    </div>
  </div>
</section>
