.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 40;
}

.header-scrolled {
  background: black;
}

.active {
  font-weight: 800;
  color:white!important;
  border-bottom: 1px solid white;
}

.link {
  position: relative;
  text-decoration: none;
  color: #e0e0e0;
  text-transform: uppercase;
  margin: 0 10px;
}

.link:hover {
  color: white;
}

.link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 105%;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: white;
  height: 1px;
  transition: all .5s;
}

.link:hover:before {
  width: 100%;
}



/* Mobile menu  styles
 *============================================================================*/

.mobile-menu {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  transition: .4s ease-in-out;

  .line-1 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 50px;
  }

  .line-2 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 40px;
    margin: 10px 0;
  }

  .line-3 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 30px;

  }

  &.active-menu {
    padding: 25px 0;

    .line-1 {
      width: 40px;
      transform: rotate(45deg);
    }

    .line-2 {
      margin: -3px 0;
      opacity: 0;
    }

    .line-3 {
      margin-top: 1px;
      width: 40px;
      transform: rotate(-45deg);
    }

  }
}



.slide-menu {
  position: fixed;
  z-index: 22;
  top: 0px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: black;
  width: 50%;
  padding: 40px;
  transform: translateX(200%);
  transition: .7s ease-in-out;
  height: 100vh;

  .mobile-link {
    position: relative;
    color: white;
    width: 100%;
    opacity: .6;
    text-align: right;
    font-size: 35px;
    transform: translateX(100%);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.active-menu {
  transform: translateX(0);
  &.slide-menu:before {
    opacity: .3;
    transition: opacity ease-in-out 1s;
  }
}

.slide-menu.active-menu {
  .mobile-link:nth-child(1) {
    transform: translateX(0%);
    transition: .1s;
    opacity: 1;
  }
  .mobile-link:nth-child(2) {
    transform: translateX(0%);
    transition: 1.2s;
    opacity: 1;
  }
  .mobile-link:nth-child(3) {
    transform: translateX(0%);
    transition: 1.4s;
    opacity: 1;
  }
  .mobile-link:nth-child(4) {
    transform: translateX(0%);
    transition: 1.6s;
    opacity: 1;
  }
}

@media (max-width: 600px) {

}

@media (max-width: 600px) {
    .slide-menu {
      width: 100%;
      &:before {
        right: 0;
      }
    }
}

