.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
}

.header-scrolled {
  background: black;
}

.active {
  font-weight: 800;
  color:white!important;
  border-bottom: 1px solid white;
}

.link {
  position: relative;
  text-decoration: none;
  color: #e0e0e0;
  text-transform: uppercase;
  margin: 0 10px;
}

.link:hover {
  color: white;
}

.link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 105%;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: white;
  height: 1px;
  transition: all .5s;
}

.link:hover:before {
  width: 100%;
}



/* Mobile menu  styles
 *============================================================================*/

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: .4s ease-in-out;

  .line-1 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 50px;
  }

  .line-2 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 40px;
    margin: 10px 0;
  }

  .line-3 {
    border-top: 2px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 30px;

  }

  &.active-menu {
    padding: 25px 0;

    .line-1 {
      width: 40px;
      transform: rotate(45deg);
    }

    .line-2 {
      margin: -3px 0;
      opacity: 0;
    }

    .line-3 {
      width: 40px;
      transform: rotate(-45deg);
    }

  }
}



.slide-menu {
  position: fixed;
  z-index: 24;
  top: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: black;
  width: 50%;
  padding: 40px;
  transform: translateX(100%);
  transition: .2s ease-in-out;
  height: 100vh;

  .mobile-link {
    color: white;
    width: 100%;
    text-align: right;
   font-size: 25px;
    margin-right: 50px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    background: white;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

.active-menu {
  transform: translateX(0);
  &.slide-menu:before {
    opacity: .6;
    transition: opacity 600ms cubic-bezier(0.33, 0, 0, 1) 0s;
  }
}


