<div class="header c-light">
  <div class="flex jc-between ai-center">
      <a routerLink="/" routerLinkActive="" class="z-index">
        <h3>Logo</h3>
      </a>
    <div class="flex jc-end z-index hide-s">
      <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" class="link">HOME</a>
      <a routerLink="/lounge" routerLinkActive="active" class="m-x-s link">LOUNGE</a>
      <a routerLink="/nail" routerLinkActive="active" class="m-x-s link">NAIL BAR</a>
      <a routerLink="/experiences" routerLinkActive="active" class="m-x-s link">EXPERIENCES</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s link">LOCATION</a>
      <a routerLink="/shop" routerLinkActive="active" class="m-x-s link">SHOP</a>
      <a routerLink="/contact" routerLinkActive="active" class="m-x-s link">CONTACT US</a>
    </div>
    <div class="z-index show-s">
      <div class="mobile-menu m-r-m z-index" (click)="toggleMenu()" [class.active]="menu">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
      <div class="flex fw-wrap jc-center ai-center bg-light c-dark fd-col z-index mobile-links" [class.active]="menu">
        <a routerLink="/" routerLinkActive="active-mobile">HOME</a>
        <a routerLink="/lounge" routerLinkActive="active-mobile" class="m-x-s mobile-link">LOUNGE</a>
        <a routerLink="/nail" routerLinkActive="active-mobile" class="m-x-s mobile-link">NAIL BAR</a>
        <a routerLink="/experiences" routerLinkActive="active-mobile" class="m-x-s mobile-link">EXPERIENCES</a>
        <a routerLink="/about" routerLinkActive="active-mobile" class="m-x-s mobile-link">LOCATION</a>
        <a routerLink="/shop" routerLinkActive="active-mobile" class="m-x-s mobile-link">SHOP</a>
        <a routerLink="/contact" routerLinkActive="active-mobile" class="m-x-s mobile-link">CONTACT US</a>
      </div>
  </div>
</div>
