<div class="header c-light">
  <div class="flex jc-between ai-center">
    <div class="col-4  z-index">
      <a routerLink="/" routerLinkActive="active">
        <h3>Logo</h3>
      </a>
    </div>
    <div class="col-8 flex jc-end z-index m-r-l hide-s">
      <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">HOME</a>
      <a routerLink="/lounge" routerLinkActive="active" class="m-x-s">LOUNGE</a>
      <a routerLink="/nail" routerLinkActive="active" class="m-x-s">NAIL BAR</a>
      <a routerLink="/experiences" routerLinkActive="active" class="m-x-s">EXPERIENCES</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s">LOCATION</a>
      <a routerLink="/shop" routerLinkActive="active" class="m-x-s">SHOP</a>
      <a routerLink="/contact" routerLinkActive="active" class="m-x-s">CONTACT US</a>
    </div>
    <div class="z-index show-s">
      <div class="mobile-menu m-r-m z-index" (click)="toggleMenu()" [class.active]="menu">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
      <div class="col-10 flex fw-wrap jc-center ai-center bg-light c-dark fd-col z-index mobile-links" [class.active]="menu">
        <a routerLink="/" routerLinkActive="active">HOME</a>
        <a routerLink="/lounge" routerLinkActive="active" class="m-x-s">LOUNGE</a>
        <a routerLink="/nail" routerLinkActive="active" class="m-x-s">NAIL BAR</a>
        <a routerLink="/experiences" routerLinkActive="active" class="m-x-s">EXPERIENCES</a>
        <a routerLink="/about" routerLinkActive="active" class="m-x-s">LOCATION</a>
        <a routerLink="/shop" routerLinkActive="active" class="m-x-s">SHOP</a>
        <a routerLink="/contact" routerLinkActive="active" class="m-x-s">CONTACT US</a>
      </div>
  </div>
</div>
