.main {
  background: url("../../../../assets/images/events/events-single-main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
}

.main-wrapper {
  height: 100%;
}

.exo-events {
  background-image: url("../../../../assets/images/events/events-single-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.wrapper {
  background: transparent;
  height: 300px;
  width: 40%;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}
