.bg-full {
  background: url("../../../../assets/images/events/events-bg-full.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.events-container {
  width: 100%;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.custom-bg-r{
  background-image: url("../../../../assets/icons/custom-bg.svg");
  background-size: calc(((100vw - 900px) / 2) + 900px - 100px) auto;
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}




.bg-container {
  height: 700px;
}

.card-right {
  position: absolute;
  width: 500px;
  top: 10%;
  right: -15%;
}



.exo-events {
  background-image: url("../../../../assets/images/events/exo-events.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.wrapper {
  background: transparent;
  height: 300px;
  width: 40%;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}

.even {
  background-position: left;
}

.left {
  left: -15%;
}




/* Mobile  styles
 *============================================================================*/

@media (max-width: 1180px){
  .card-right {
    right: -5%;
  }
  .custom-bg-r {
    overflow: hidden;
  }
  .left {
    left: -5%;
  }
}

@media (max-width: 1000px){
  .card-right {
    right: 0%;
  }

  .left {
    left: 0%;
  }
}


@media (max-width: 900px){
  .custom-bg-r {
    background-size: calc(100vw - 100px) auto;
  }
  .card-right, .left {
    position: unset;
    margin: 10px;
  }
  .experiences-container {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .btn-primary {
    font-size: 16px;
  }
}

@media (max-width: 600px){

  h1 {
    font-size: 30px;
  }

  .text-wrapper {
    text-align: justify;
  }

  .custom-bg-r {
    height: 500px;
  }
  .bg-container {
    height: 500px;
  }
  .card-right, .left {
    width: 90%;
  }

  img {
    width: 100%;
  }

}
