<exo-header></exo-header>
<section class="main relative">
  <div class="grid h-full jc-start ai-end c-light">
    <div class="col-6 col-s-12 z-index">
      <h1 class="ta-left exo-headline">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 ta-left z-index">
        <h4>A journey of the senses</h4>
        <p>Scroll down</p>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-6 col-s-12 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-between ai-center b-b p-y-m" *ngFor="let blog of blogs$ | async; even as even" [class.even]="even">
      <div class="col-4 col-s-6 col-xs-12 c-dark ta-left">
        <h1>{{blog.title}}</h1>
        <div class="flex ai-center jc-between w-full m-t-s">
          <span class="category">{{blog.date}}</span>
          <span class="category">Category: {{blog.category}}</span>
        </div>
        <p class="m-t-s">{{blog.description}}</p>
        <a class="btn-primary m-t-l"  [routerLink]="blog.route">Read More</a>
      </div>
      <div class="col-5 col-s-6 col-xs-12 ta-right" [class.text-align]="even">
        <img [src]="blog.image" [attr.alt]="blog.alt || ''">
      </div>
    </div>
</section>
<exo-footer></exo-footer>
