<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>
<div class="grid m-y-l" *ngIf="page.firstSegment">
  <div class="col-6 col-s-12 ta-center">
    <p>{{page.firstSegment | text}}</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid">
    <div class="blog-wrapper p-y-l flex jc-between ai-center fw-wrap" *ngFor="let blog of blogs$ | async; even as even; last as last;" [class.b-b]="!last" [class.even]="even" >
      <div class="col-5 col-s-6 col-xs-12 c-dark text-container p-a-0">
        <h2>{{blog.title}}</h2>
        <div class="flex ai-center jc-between  m-t-s">
          <span class="category">{{blog.date | date}}</span>
          <span class="category">Category: {{blog.category}}</span>
        </div>
        <p class="m-y-s">{{blog.description}}</p>
        <a class="btn-primary flex ai-center jc-center"  [routerLink]="blog.route">Read More</a>
      </div>
      <div class="col-5 col-s-6 col-xs-12 ta-right p-a-0" [class.text-align]="even">
        <img [src]="blog.image" [attr.alt]="blog.alt || ''" class="blog-image">
      </div>
    </div>
    </div>
</section>
<exo-footer></exo-footer>
