<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>
<div class="grid m-y-l" *ngIf="page.firstSegment">
  <div class="col-6 col-s-12 ta-center">
    <p>{{page.firstSegment | text}}</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-between ai-center b-b p-y-m" *ngFor="let blog of blogs$ | async; even as even" [class.even]="even" intersecting data-animation="fade-in-from-bottom">
      <div class="col-4 col-s-6 col-xs-12 c-dark ta-justify">
        <h1>{{blog.title}}</h1>
        <div class="flex ai-center jc-between w-full m-t-s">
          <span class="category">{{blog.date}}</span>
          <span class="category">Category: {{blog.category}}</span>
        </div>
        <p class="m-t-s m-b-l">{{blog.description}}</p>
        <a class="btn-primary"  [routerLink]="blog.route">Read More</a>
      </div>
      <div class="col-5 col-s-6 col-xs-12 ta-right" [class.text-align]="even">
        <img [src]="blog.image" [attr.alt]="blog.alt || ''">
      </div>
    </div>
</section>
<exo-footer></exo-footer>
