.header {
  top: 0;
}

.main {
  background: url("../../../../assets/images/blog/blog-main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
}


.category {
  color: #707070;
}

.even {
  flex-direction: row-reverse;
}

.left {
  left: -15%;
}





