.contact-heading {
  font-size: 20px;
  font-weight: 300;
}

.footer {
  border-bottom: 1px solid #e0e0e0;
}

.footer-logo {
  height: 150px;
}

a {
  color: #e0e0e0;
}
a:hover {
  color: white;
}

.social-icon {
  opacity: .6;
  transition: .4s;
}
.social-icon:hover {
  opacity: 1;
}

.sub-footer {
  font-family: Roboto, light;
  color: #e0e0e0;
}


/* Mobile styles
 *============================================================================*/

@media (max-width: 900px) {
  .social-icons-wrapper {
    justify-content: center;
  }
  .adress {
    text-align: center;
  }
  .footer {
    padding: 20px 10px;
  }

  .footer-logo {
    height: 75px;
  }

  .learn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    a {
      width: 50%;
      margin: 0;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    a {
      margin: 0;
    }
  }

  .sub-footer {
    justify-content: center;
  }

  .logo-container {
    text-align: center;
  }
}
