<div class="bg-dark flex fw-wrap p-a-l footer">
  <div class="col-3 hide-s">
    <img src="assets/images/footer-logo.png" alt="logo">
  </div>
  <div class="col-3 col-s-4 col-xs-6 contact p-s-0">
    <div class="m-t-s">
    <p>Contact Us</p>
    </div>
    <div class="m-t-m">
    <p class="contact-heading">Exo Lounge</p>
    <a href="mailto:lounge@visitexo.com">lounge@visitexo.com</a>
    </div>
    <div class="m-y-s">
    <p class="contact-heading">EXO Nail Bar</p>
    <a href="mailto:nailbar@visitexo.com">nailbar@visitexo.com</a>
    </div>
    <div class="m-y-s">
    <p class="contact-heading">Events</p>
    <a href="mailto:events@visitexo.com">events@visitexo.com</a>
    </div>
    <div class="m-y-s">
    <p class="contact-heading">Press</p>
    <a href="mailto: marketing@visitexo.com">marketing@visitexo.com</a>
    </div>
  </div>
  <div class="col-3 col-xs-6 col-s-4 learn p-s-0 flex fd-col">
    <a href="" class="m-t-s">Learn More</a>
    <a href="" class="contact-heading m-t-m">About us</a>
    <a routerLink="/lounge" routerLinkActive="active" class="contact-heading m-y-xs">Exo Lounge</a>
    <a routerLink="/nail" routerLinkActive="active" class="contact-heading">Exo Nail Bar</a>
    <a class="contact-heading m-y-xs">Exo Med Spa</a>
    <a routerLink="/events" routerLinkActive="active" class="contact-heading">Events</a>
    <a href="" class="contact-heading m-y-xs">Reviews</a>
    <a href="" class="contact-heading">Careers</a>
    <a href="" class="contact-heading m-y-xs">Reach Out</a>
  </div>
  <div class="col-3 col-xs-12 col-s-4 adress p-s-0">
    <p class="m-t-s">Our Adress</p>
    <a href="https://goo.gl/maps/kL7L8N6Ks3ZscL6c8" target="_blank">
      <h5 class="m-y-m fw-light">2 157 Center, <br> Edwardsville IL 62025 <br> 618-692-xoxo</h5>
    </a>
    <h2>Keep in touch</h2>
    <div class="flex m-t-m ai-center social-icons-wrapper">
      <a href="" class="social-icon">
        <img src="assets/icons/facebook-white.svg" alt="social-link">
      </a>
      <a href="" class="social-icon">
        <img src="assets/icons/instagram-white.svg" alt="social-link" class="m-x-m">
      </a>
      <a href="" class="social-icon">
        <img src="assets/icons/twitter-white.svg" alt="social-link">
      </a>
    </div>
  </div>
</div>
