.container {
  max-width: 1200px;
  margin: 0 auto;
}

.item-price {
  font-size: 20px;
  font-weight: 800;
}

.item-img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

.category-price {
  font-size: 20px;
  font-weight: bold;
}
