<section class="m-y-xl">
  <div class="container jc-around">
    <div class="col-5 col-s-12 ta-left" intersecting [attr.data-animation]="data.animation || 'none'">
      <img [src]="data.image" alt="">
    </div>
    <div class="col-4 col-s-12 ta-left">
      <h3 class="m-t-m title" intersecting [attr.data-animation]="data.animation || 'none'">{{data.title}}</h3>
      <div class="m-y-m  text-wrapper"  [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'">
      </div>
      <a routerLink="/contact" routerLinkActive="active" class="btn-primary flex jc-center ai-center" intersecting [attr.data-animation]="data.animation || 'none'">Contact us</a>
      <img [src]="data.belowImg" alt="" class="m-t-m w-full below-img" intersecting [attr.data-animation]="data.animation || 'none'">
    </div>
  </div>
</section>
