<section class="exo-patio m-y-m">
  <div class="grid jc-around">
    <div class="col-5 col-s-12 ta-left" intersecting [attr.data-animation]="data.animation || 'none'">
      <img [src]="data.image" alt="">
    </div>
    <div class="col-4 col-s-12 ta-left">
      <h3 class="m-t-m title" intersecting [attr.data-animation]="data.animation || 'none'">{{data.title}}</h3>
      <div class="m-y-m  text-wrapper"  [innerHTML]="data.content" intersecting [attr.data-animation]="data.animation || 'none'">
      </div>
      <button class="btn-primary" intersecting [attr.data-animation]="data.animation || 'none'">Contact us</button>
      <img [src]="data.belowImg" alt="" class="m-t-l w-full below-img" intersecting [attr.data-animation]="data.animation || 'none'">
    </div>
  </div>
</section>
