@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .img-wrapper {
    text-align: left;
    margin-top: 10px;
  }
  img {
    width: 100%;
  }

  section, .title {
    margin: 0;
  }

  .text-wrapper {
    margin: 10px 0px;
    text-align: justify;
  }

  .below-img {
    margin-top: 10px!important;
  }

}
