/* Sections
*============================================================================*/

.section {
  padding: 50px 10em;

  @media (max-width: 1400px) { padding: 50px 7em; }
  @media (max-width: 900px) { padding: 50px 4em }
  @media (max-width: 600px) { padding: 50px 1em; }
}



/* Container
*============================================================================*/

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 4px;
  background: var(--primary-primary);
  box-shadow: var(--shadow);
}



/* Rating
*============================================================================*/

.rating {
  color: var(--accent-theme);
  & > * { margin-left: -2px; }
}



/* Headers
*============================================================================*/


.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-no-button { padding-bottom: 6px; }



/* Buttons
*============================================================================*/

.btn-primary {
  cursor: pointer;
  outline: none;
  padding: 20px;
  font-size: 25px;
  border:1px solid black;
  background: white;
  color: black;
  min-width: 150px;
  text-align: center;
}

.btn-primary:hover {
  background: black;
  color: white;
  transition: .3s;
}

.btn-secondary {
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 20px;
  font-size: 25px;
  border:1px solid white;
  background: transparent;
  color: white;
  min-width: 150px;
}

.btn-secondary:hover {
  background: white;
  color: black;
  transition: .3s;
}
