@media (max-width: 600px) {
  section {
    padding: 0;
    margin: 30px 0;
  }

  h1 {
    font-size: 30px;
  }

  .title {
    margin: 10px 0;
  }

  .img-wrapper {
    text-align: left;
    margin-top: 0;
  }
  img {
    width: 100%;
  }

  .content-wrapper {
    order: 1;
  }

  .image-container {
    order:3;
  }

  .mobile-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    &-content {
      text-align: justify;
      order:3;
    }
    &-title {
      order: 2;
    }
    &-image {
      order: 1;
    }
  }
}
