@import "scss/00-setup/theme";
@import "scss/00-setup/angular-overrides";
@import "scss/01-generic/generic";
@import "scss/01-generic/global";
@import "scss/01-generic/resets";
@import "scss/03-utilities/grid";
@import "scss/03-utilities/utilities";
@import "scss/breakpoints";




.header {
  position: sticky;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  background: white;
}

.main {
  height: 1000px;
}
