<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>

<section class="bg-dark c-light">
    <div class="col-12 ta-center p-y-l">
      <img src="assets/images/exo.svg" alt="" style="height: 200px">
    </div>
    <div *ngFor="let category of page.categories">
      <div class="lounge-container">
        <div class="category-wrapper ta-center m-t-l p-b-m b-b">
          <h1 class="category-title">{{category.title}}</h1>
          <p class="category-subtitle" *ngIf="category.subTitle">{{category.subTitle}}</p>
          <span *ngIf="category.price">{{category.price}}</span>
        </div>
      </div>
      <div *ngFor="let item of category.items">
        <div class="lounge-container flex jc-between ai-center b-b p-y-s">
            <div class="wrapper">
              <h4 class="item-title fw-normal">{{item.title}}</h4>
              <p class="item-subtitle" *ngIf="item.subTitle">{{item.subTitle}}</p>
            </div>
            <span class="item-price" *ngIf="item.price">{{item.price}}</span>
        </div>
            <div class="item-img" *ngIf="item.image" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
      </div>
    </div>
</section>

<exo-footer></exo-footer>
