/* Mobile styles
 *============================================================================*/

@media (max-width: 600px) {

  .exo-lounge-header {
    font-size: 30px;
    text-align: center;
  }

  .bg-wrapper {
    min-width: 100%;
  }

  h4 {
    font-size: 20px;
  }

  .main {
    height: 500px;
  }
  h1 {
    font-size: 30px;
  }
  .full-bg, .lights {
    height: 370px;
  }
  .img-wrapper {
    text-align: center;
    margin-top: 20px;
  }
  img {
    width: 100%;
  }
  .btn-primary {
    margin-top: 15px;
  }
  .shadow {
    box-shadow: none;
  }
}
