<exo-header></exo-header>
<section class="main relative">
  <div class="grid h-full ai-center">
    <div class="col-6 col-s-12 z-index m-l-l m-s-0">
      <h1 class="c-light ta-center exo-headline">{{item?.title}}</h1>
    </div>
  </div>
</section>
<div class="grid jc-between m-y-xl">
  <div class="col-4">
    <div class="img-wrapper ta-center b-a">
      <img [src]="item?.image" alt="">
    </div>
    <div class="flex ai-center jc-between w-full m-t-s">
      <div class="product-wrapper ta-center  b-a" *ngFor="let image of item?.galleryImages">
      <img [src]="image.image"  alt="" class="product">
    </div>
    </div>
  </div>
  <div class="col-6">
    <h4 class="title">Soap & Lotion</h4>
    <p class="price b-b m-y-m p-b-s"><b>{{item?.price}}</b></p>
    <p>{{item?.description}}</p>
    <button class="btn-primary m-t-m">Add to Cart</button>
  </div>
</div>
<div class="grid m-y-l">
<div class="col-12 flex b-b">
  <h4>PRODUCT DESCRIPTION</h4>
  <h4 class="m-x-s">ADDITIONAL INFORMATION</h4>
</div>
  <div class="col-12">
    <p class="m-y-s">{{item?.productDescription}}</p>
  </div>
  <div class="col-12">
    <ul type="square">
      <li>{{item?.additionalInfo}}</li>
    </ul>
  </div>
</div>
<exo-footer></exo-footer>

