.wrapper {
  background: transparent;
  height: 300px;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .7;
}


.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}


@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}


@media (max-width: 600px) {
  .wrapper {
    text-align: center;
    min-width: 80%;
    height: 200px;
  }

  h1 {
    font-size: 20px;
  }

  .main {
    margin-top: 20px;
    height: 400px;
  }
}
