.wrapper {
  background: transparent;
  height: 300px;
  width: 40%;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}


.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}


@media (max-width: 600px) {
  .wrapper {
    text-align: center;
    min-width: 100%;
  }

  h1 {
    font-size: 30px;
  }
}
