.wrapper {
  background: transparent;
  height: 300px;
  width: 40%;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}


.exo-lounge {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
