.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.events-container {
  height: 400px;
}

.canceled {
  background: #ECECEC;
  color: #959595;
}

.done {
  border: 1px solid #07B500!important;
}

.done-content {
  color: #07B500;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.box {
  width: 350px;
  height: 350px;
  border: 1px solid #000000;
}





@media (max-width: 900px) {
  .events-container {
    margin: 0;
  }
  .events-container:nth-child(2) {
    .box {
      margin-top: 0px;
    }
  }
  .box {
    width: 100%;
  }
}
