.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.events-container {
  height: 400px;
}

.active-container:hover {
  background: black;
  color: white;
}

.canceled {
  background: #ECECEC;
  color: #959595;
  border: 1px solid #959595!important;
}

.done {
  border: 1px solid #07B500!important;
}

.done-content {
  color: #07B500;
}

.title {
  font-size: 30px;
  font-weight: normal;
}

.box {
  width: 330px;
  height: 330px;
  border: 1px solid #000000;
  transition: .4s;
}

.box-wrapper {
  width: 215px;
  text-align: left;
}





@media (max-width: 900px) {
  .events-container {
    margin: 0;
  }
  .events-container:nth-child(2) {
    .box {
      margin-top: 0px;
    }
  }
  .box {
    width: 100%;
  }
}


