@media (max-width: 600px) {

  h1 {
    font-size: 30px;
  }

  .shadow{
    box-shadow: none;
    width: 100%;
  }

  .text-wrapper {
    text-align: justify;
    margin-top: 30px;
  }

  .grid {
    flex-direction: column-reverse;
  }

  .btn-primary {
    font-size: 16px;
  }

}
