@media (max-width: 600px) {

  h1 {
    font-size: 30px;
  }

  .shadow{
    box-shadow: none;
    width: 100%;
  }

  section {
    margin: 0;
  }

  .text-wrapper {
    text-align: justify;
  }

  .container-content {
    order: 2;
  }
}
