<exo-header></exo-header>
<section class="main relative">
  <div class="grid h-full jc-start ai-end">
    <div class="col-6 col-s-12 z-index">
      <h1 class="c-light ta-left nail-headline">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex jc-start c-light z-index">
      <div class="col-4">
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-6 ta-center p-a-l">
    <img src="assets/images/lounge/logo.png" alt="">
  </div>
  <div class="col-6 col-s-12 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-around ai-center">
    <div class="col-4  col-s-6 col-xs-12 c-dark">
      <h1>Exo Lounge <br>Menu</h1>
      <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      <button class="btn-primary m-t-l">View Menu</button>
    </div>
    <div class="col-5 col-s-6 col-xs-12  ta-right">
      <img src="assets/images/nail/nail-2.png" class="shadow">
    </div>
  </div>
</section>
<section class=" custom-bg m-y-l"></section>
<section class="m-y-l">
  <div class="grid jc-around">
    <div class="col-5 col-s-12 ta-left">
      <img src="assets/images/nail/nail-5.png" alt="">
    </div>
    <div class="col-4 col-s-6 col-xs-12 flex jc-end ai-start fd-col">
      <h1 class="m-t-l">Exo Patio</h1>
      <div class="col-8 col-s-12 ta-left m-y-l no-padding">
        <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      </div>
      <button class="btn-primary">Contact us</button>
      <img src="assets/images/nail/nail-4.png" alt="" class="m-t-l w-full">
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-12 ta-center">
    <h1>We Do Events</h1>
  </div>
  <div class="col-5 col-s-12 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="exo-nail m-t-l flex jc-center ai-center">
  <div class="col-6 wrapper relative c-light z-index ta-center flex fd-col ai-center jc-center">
    <h1 class="z-index m-y-m">Exo Nail Bar</h1>
    <a routerLink="/contact" routerLinkActive="active" class="btn-secondary z-index">Contact us</a>
  </div>
</section>
<exo-footer></exo-footer>

