<section class="main">
  <exo-header></exo-header>
  <div class="main-wrapper flex fw-wrap jc-start ai-end p-x-xl">
    <div class="col-6 z-index m-l-l">
      <h1 class="c-light ta-left">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex jc-between ai-center c-light z-index">
      <div class="col-4 m-l-m">
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-12 ta-center p-a-l">
    <img src="assets/images/lounge/logo.png" alt="">
  </div>
  <div class="col-7 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="welcome m-y-l">
  <div class="grid jc-between ai-center">
    <div class="col-5 c-dark flex fd-col jc-center ai-start p-a-l">
      <h1>Exo Lounge <br>Menu</h1>
      <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      <button class="btn-primary m-t-l">View Menu</button>
    </div>
    <div class="col-6 ta-center">
      <img src="assets/images/nail/nail-2.png" class="shadow">
    </div>
  </div>
</section>
<section class="explore m-y-xl">
    <div class="custom-bg"></div>
</section>
<section class="exo-patio m-y-l">
  <div class="grid ai-start">
    <div class="col-6">
      <img src="assets/images/nail/nail-5.png" alt="">
    </div>
    <div class="col-6 flex jc-end ai-start fd-col">
      <h1 class="m-t-l">Exo Patio</h1>
      <div class="col-8 ta-left m-y-l no-padding">
        <p>EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      </div>
      <button class="btn-primary m-t-m">Contact us</button>
      <img src="assets/images/nail/nail-4.png" alt="" class="m-t-xl">
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-12 ta-center">
    <h1>We Do Events</h1>
  </div>
  <div class="col-5 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="exo-nail m-y-l flex jc-center ai-center">
  <div class="col-6 wrapper relative c-light z-index ta-center flex fd-col ai-center jc-center">
    <h1 class="z-index m-y-m">Exo Nail Bar</h1>
    <button class="btn-secondary z-index">Contact us</button>
  </div>
</section>

