<div class="header c-light hide-s">
  <div class="flex jc-between ai-center">
    <div class="col-2 flex jc-start z-index">
      <a routerLink="/" routerLinkActive="active">
        <h3>Logo</h3>
      </a>
    </div>
    <div class="col-10 flex jc-end z-index m-r-l">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/lounge" routerLinkActive="active" class="m-x-s">Lounge</a>
      <a routerLink="/nail" routerLinkActive="active" class="m-x-s">Nail Bar</a>
      <a routerLink="/experiences" routerLinkActive="active" class="m-x-s">EXPERIENCES</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s">Location</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s">Shop</a>
      <a routerLink="/contact" routerLinkActive="active" class="m-x-s">Contact Us</a>
    </div>
  </div>
</div>
