<div class="header c-light">
  <div class="flex jc-between ai-center">
    <div class="col-2 flex jc-start z-index">
      <a routerLink="/" routerLinkActive="active">
        <h3>Logo</h3>
      </a>
    </div>
    <div class="col-10 flex jc-end z-index m-r-l hide-s">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/lounge" routerLinkActive="active" class="m-x-s">Lounge</a>
      <a routerLink="/nail" routerLinkActive="active" class="m-x-s">Nail Bar</a>
      <a routerLink="/experiences" routerLinkActive="active" class="m-x-s">EXPERIENCES</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s">Location</a>
      <a routerLink="/about" routerLinkActive="active" class="m-x-s">Shop</a>
      <a routerLink="/contact" routerLinkActive="active" class="m-x-s">Contact Us</a>
    </div>
    <div class="mobile-menu z-index">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </div>
    <div class="show-s z-index">
      <div class="col-10 flex fw-wrap jc-center ai-center bg-light c-dark fd-col z-index m-r-l m-s-0 mobile-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/lounge" routerLinkActive="active" class="m-x-s">Lounge</a>
        <a routerLink="/nail" routerLinkActive="active" class="m-x-s">Nail Bar</a>
        <a routerLink="/experiences" routerLinkActive="active" class="m-x-s">EXPERIENCES</a>
        <a routerLink="/about" routerLinkActive="active" class="m-x-s">Location</a>
        <a routerLink="/about" routerLinkActive="active" class="m-x-s">Shop</a>
        <a routerLink="/contact" routerLinkActive="active" class="m-x-s">Contact Us</a>
      </div>
    </div>
  </div>
</div>
