.header {
  padding-top: 20px;
}




/* Mobile menu  styles
 *============================================================================*/

.mobile-menu {
  transition: .4s ease-in-out;

  .line-1 {
    border-top: 3px solid white;
    display: block;
    transition: all .4s ease-in-out;
    width: 50px;
  }

  .line-2 {
    @extend .line-1;
    margin: 10px 0;
  }

  .line-3 {
    @extend .line-1;
  }

  &.active {
    padding: 25px 0;

    .line-1 {
      transform: rotate(45deg);
    }

    .line-2 {
      margin: -3px 0;
      opacity: 0;
    }

    .line-3 {
      transform: rotate(-45deg);
    }

  }
}


.mobile-links {
  position: fixed;
  transform: translateY(-100%);
}
@media (max-width: 600px) {
.header {
  padding: 0;
}
}
