.main-wrapper {
  height: 90%;
}

.send {
  cursor: pointer;
  outline: none;
  padding: 20px;
  font-size: 25px;
  border:1px solid black;
  background: black;
  color: white;
  min-width: 150px;
}

.location {
  background-image: url("../../assets/images/location.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.exo-events {
  background-image: url("../../assets/images/exo-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.wrapper {
  background: transparent;
  height: 300px;
  width: 40%;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}



/* Input styles
 *============================================================================*/



.group 			  {
  position:relative;
}
.inputs 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}
.inputs:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:10px;
  transition:0.4s ease all;
  -moz-transition:0.4s ease all;
  -webkit-transition:0.4s ease all;
}

/* active state */
.inputs:focus ~ label, .inputs:valid ~ label 		{
  top:-20px;
  font-size:14px;
  font-weight: bold;
  color:#545454;
}

/* BOTTOM BARS
 ================================= */
.bar 	{
  position:relative;
  display:block;
  width:100%;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#545454;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:0;
}
.bar:after {
  right:0;
}

/* active state */
.inputs:focus ~ .bar:before, .inputs:focus ~ .bar:after {
  width:100%;
}

/* HIGHLIGHTER
================================== */
.highlight {
  position:absolute;
  height:60%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS
================ */
@-webkit-keyframes inputHighlighter {
  from { background:#545454; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#545454; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#545454; }
  to 	{ width:0; background:transparent; }
}


/* Mobile styles
 *============================================================================*/

@media (max-width: 600px) {

  .contact-heading {
    font-size: 30px;
    text-align: center;
  }

  .bg-wrapper {
    min-width: 100%;
  }

  h4 {
    font-size: 20px;
  }

  .main {
    height: 500px;
  }
  h1 {
    font-size: 30px;
  }
  .full-bg, .lights {
    height: 370px;
  }
  .welcome {
    padding: 15px;
  }
  .img-wrapper {
    text-align: center;
    margin-top: 20px;
  }
  .wrapper {
    width: 100%;
  }

  .icons {
    width: 20px;
    height: 20px;
    margin-bottom: 0!important;
  }
}
