<section class="main">
  <exo-header></exo-header>
  <div class="main-wrapper flex fw-wrap jc-start ai-end p-x-xl">
    <div class="col-6 z-index m-l-l">
      <h1 class="c-light ta-left">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex jc-between ai-center c-light z-index">
      <div class="col-4 m-l-m">
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-7 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="contact m-y-l">
  <div class="grid m-y-l">
    <div class="col-12 ta-center">
      <h1>Contact Us</h1>
    </div>
    <div class="col-4 flex ai-center jc-center">
      <img src="assets/icons/pin.svg" alt="" class="m-r-xs m-b-s" style="margin-bottom: 30px;">
      <p>2 157 Center,<br> Edwardsville IL 62025</p>
    </div>
    <div class="col-4 flex ai-center jc-center">
      <img src="assets/icons/phone.svg" alt="" class="m-r-xs">
      <p>Phone: 618-692-XOXO</p>
    </div>
    <div class="col-4 flex ai-center jc-center">
      <img src="assets/icons/mail.svg" alt="" class="m-r-xs">
      <p>info@visitexo.com</p>
    </div>
    <div class="col-12 m-y-l ta-center">
      <h1>Get in Touch Directly</h1>
    </div>
    <div class="col-3 ta-center">
      <h5>Exo Lounge</h5>
      <a href="">lounge@visitexo.com</a>
    </div>
    <div class="col-3 ta-center">
      <h5>EXO Nail Bar</h5>
      <a href="">nailbar@visitexo.com</a>
    </div>
    <div class="col-3 ta-center">
      <h5>Events</h5>
      <a href="">events@visitexo.com</a>
    </div>
    <div class="col-3 ta-center">
      <h5>Press</h5>
      <a href="">marketing@visitexo.com</a>
    </div>
    <div class="col-12 m-y-l ta-center">
      <h1>Visit Us</h1>
    </div>
    <div class="col-8 no-padding flex jc-around">
      <div class="col-3">
        <h4 class="m-y-m">EXO Lounge</h4>
        <div class="flex jc-between">
          <p>Monday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Tuesday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Wednesday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Thursday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Friday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Saturday</p>
          <p>Closed</p>
        </div>
        <div class="flex jc-between">
          <p>Sunday</p>
          <p>Closed</p>
        </div>
      </div>
      <div class="col-3">
        <h4 class="m-y-m">Nail Bar</h4>
        <div class="flex jc-between">
          <p>Monday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Tuesday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Wednesday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Thursday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Friday</p>
          <p>8:30am to 5pm</p>
        </div>
        <div class="flex jc-between">
          <p>Saturday</p>
          <p>Closed</p>
        </div>
        <div class="flex jc-between">
          <p>Sunday</p>
          <p>Closed</p>
        </div>
      </div>
    </div>
    <div class="col-12 m-y-l ta-center">
      <h1>Request A Call Back</h1>
    </div>
    <div class="col-6">
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </div>
  </div>
</section>
