<exo-header></exo-header>
<section class="main relative">
  <div class="main-wrapper flex fw-wrap jc-start ai-end p-x-xl p-s-0">
    <div class="col-6 col-s-12 z-index m-l-l m-s-0">
      <h1 class="c-light ta-left exo-headline">Quite Simply, <br> EXtraOrdinary</h1>
    </div>
    <div class="col-12 flex  jc-between ai-center c-light z-index">
      <div class="col-6 m-l-m m-s-0">
        <h4>A journey of the senses</h4>
        <p>Scroll down</p>
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <div class="col-6 col-s-12 ta-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid ai-center m-y-m">
    <div class="col-10 flex fw-wrap ai-center jc-between">
      <div class="col-6 col-xs-12 ta-left">
        <img src="assets/images/events/happy-hour.png" >
      </div>
      <div class="col-4 col-xs-12 c-dark flex fd-col ai-start jc-center welcome">
        <h1>Happy Hour</h1>
        <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      </div>
    </div>
  </div>
</section>
<section class="m-y-l">
  <div class="grid  ai-center">
    <div class="col-10 no-padding flex jc-between ai-center">
      <div class="col-4 col-s-6 col-xs-12 c-dark flex fd-col ai-start jc-center welcome">
        <h1>Wine Flight Wednesdays</h1>
        <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      </div>
      <div class="col-6 col-xs-12 ta-right">
        <img src="assets/images/events/events-wine.png" >
      </div>
    </div>
  </div>
</section>
<div class="grid m-y-l">
  <h1 class="w-full ta-center">March Events</h1>
  <div class="col-4 flex fd-col ai-center jc-center">
    <div class="box w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box cocktail w-full m-y-m flex fd-col jc-center ai-center">
    </div>
    <div class="box w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
  </div>
  <div class="col-4 m-t-xxl flex fd-col ai-center jc-center">
    <div class="box cocktail-center w-full m-y-m flex fd-col jc-center ai-center">
    </div>
    <div class="box  w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box w-full closed m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box canceled w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
  </div>
  <div class="col-4 flex fd-col ai-center jc-center">
    <div class="box w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
      <h3 class="done">Done</h3>
    </div>
    <div class="box w-full canceled m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box w-full m-y-m flex fd-col jc-center ai-center">
      <h3>Friday March 3 <br> 7pm-9pm</h3>
      <p class="m-y-xs">Live music, Skylark Brothers</p>
    </div>
    <div class="box cocktail-dj w-full m-y-m flex fd-col jc-center ai-center">
    </div>
  </div>
</div>
<exo-footer></exo-footer>
