<exo-header></exo-header>
<exo-intro [data]="page.showcase || {}"></exo-intro>
<div class="grid m-y-l">
  <div class="col-6 col-s-12 ta-center text-wrapper" intersecting data-animation="fade-in">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<section class="m-y-l">
  <div class="grid jc-around ai-center m-y-m">
      <div class="col-4 col-s-6 col-xs-12 c-dark ta-left" intersecting data-animation="fade-in">
        <h1>EXO Lounge <br> Menu</h1>
        <p class="m-t-s">EXO Industries is a brand of lifestyle services. The company currently consists of EXO Lounge, a unique cocktail lounge that serves organic, healthy cocktails and EXO Nail Bar, a full-service nail bar dedicated to consistently providing high customer satisfaction by rendering excellent service, quality organic products and furnishing an enjoyable atmosphere that appeals to the senses.</p>
      </div>
      <div class="col-5 col-s-6 col-xs-12 ta-right" intersecting data-animation="fade-in-from-bottom">
        <img src="assets/images/events/events-lounge.png">
      </div>
  </div>
</section>
<section class="m-y-l bg-full" intersecting data-animation="fade-in-from-bottom"></section>
<section class="relative flex bg-container m-y-l" *ngFor="let event of events$ | async; odd as odd" intersecting data-animation="fade-in-from-bottom">
  <div [class.even]="odd" class="custom-bg-r">
    <div class="events-container relative" [ngStyle]="{'background-image': 'url('+ event.image +')'}">
      <div [class.left]="odd"  class="card-right bg-light p-a-l flex fd-col ai-start jc-center">
        <h3>{{event.title}}</h3>
        <p class="m-y-m">{{event.description}}</p>
        <a class="btn-primary m-t-s" [routerLink]="event.route">Read More</a>
      </div>
    </div>
  </div>
</section>
<section class="exo-events m-t-l flex jc-center ai-center" intersecting data-animation="fade-in-from-left">
  <div class="col-6 wrapper relative c-light z-index ta-center flex fd-col ai-center jc-center">
    <h1 class="z-index m-y-m">Exo Lounge</h1>
    <button class="btn-secondary z-index">Contact us</button>
  </div>
</section>
<exo-footer></exo-footer>
