<exo-header></exo-header>

<exo-intro [data]="page.showcase || {}"></exo-intro>

<exo-block-renderer *ngIf="page.blocks" [blocks]="page.blocks"></exo-block-renderer>

<div class="flex w-full">
  <a [routerLink]="background.path" routerLinkActive="active"  class="col-4 events flex jc-center ai-end" *ngFor="let background of links.backgrounds" [ngStyle]="{'background-image': 'url('+ background.background +')'}">
    <div class="bg-wrapper relative  p-a-s flex fd-col ai-center m-b-m">
      <h1 class="c-light z-index">{{background.name}}</h1>
      <img src="assets/icons/right.svg" alt="link" class="z-index m-t-m arrow">
    </div>
  </a>
</div>
<exo-footer></exo-footer>
