.events {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.bg-wrapper {
  background: transparent;
  min-width: 80%;
}

.bg-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: .8;
}


.events:hover .arrow {
  opacity: 1;
}
.arrow {
  transition: .4s ease-in;
  opacity: .4;
}



/* Mobile styles
 *============================================================================*/

@media (max-width: 1100px) {
  .bg-wrapper {
    min-height: 250px;
    min-width: 100%;
    text-align: center;
    justify-content: space-between;
  }
  h1 {
    font-size: 40px;
  }
}



@media (max-width: 900px) {

  .bg-wrapper {
    min-height: 170px;
  }

  h1 {
    font-size: 30px;
  }

  .events {
    height: 300px;
  }

  .arrow {
    height: 30px;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 20px;
  }

  .bg-wrapper {
    text-align: center;
    min-width: 100%;
    min-height: 136px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
