
:host:before {
  content: '';
  position: fixed;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: .7s ease-in-out;
}

:host.loading:before {
  top: 0;
}
:host.loaded:before {
  position: unset;
  z-index: -1;
}

///deep/ router-outlet ~ * {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//}
