<div class="bg-dark flex fw-wrap p-a-l footer">
  <div class="col-12 ta-center">
    <a routerLink="/" routerLinkActive="">
      <img src="assets/images/exo-footer.svg" alt="" class="footer-logo">
    </a>
  </div>
  <div class="col-12  col-s-4  flex jc-between m-t-m">
    <a href="" class="contact-heading">About us</a>
    <a routerLink="/lounge" routerLinkActive="active" class="contact-heading">Exo Lounge</a>
    <a routerLink="/nail" routerLinkActive="active" class="contact-heading">Exo Nail Bar</a>
    <a class="contact-heading">Exo Med Spa</a>
    <a routerLink="" routerLinkActive="active" class="contact-heading">Experiences </a>
    <a routerLink="/events" routerLinkActive="active" class="contact-heading">Events</a>
    <a routerLink="" routerLinkActive="active" class="contact-heading">Shop </a>
    <a routerLink="" routerLinkActive="active" class="contact-heading">Gallery</a>
  </div>
</div>
