.contact-heading {
  font-size: 20px;
  font-weight: 300;
}

.footer {
  border-bottom: 1px solid #e0e0e0;
}

.footer-logo {
  height: 200px;
}

a {
  color: #e0e0e0;
}
a:hover {
  color: white;
}

.sub-footer {
  font-family: Roboto, light;
  color: #e0e0e0;
}


/* Mobile styles
 *============================================================================*/

@media (max-width: 600px) {

  .footer {
    padding: 10px;
  }

  .footer-logo {
    height: 75px;
  }

  .links-wrapper {
    justify-content: center;
  }

  .contact-heading {
    margin: 0px 5px;
  }

  .sub-footer {
    justify-content: center;
  }

}
