<div class="bg-dark jc-center flex fw-wrap p-a-m footer">
  <div class="col-12 ta-center m-y-m">
    <a routerLink="/" routerLinkActive="">
      <img src="assets/images/exo-footer.svg" alt="" class="footer-logo">
    </a>
  </div>
  <div class="col-10  flex jc-between ai-center fw-wrap links-wrapper">
    <a href="" class="contact-heading">About us</a>
    <a routerLink="/lounge" routerLinkActive="active" class="contact-heading">Exo Lounge</a>
    <a routerLink="/nail" routerLinkActive="active" class="contact-heading">Exo Nail Bar</a>
    <a class="contact-heading">Exo Med Spa</a>
    <a routerLink="/experiences" routerLinkActive="active" class="contact-heading">Experiences </a>
    <a routerLink="/exo-events" routerLinkActive="active" class="contact-heading">Events</a>
    <a routerLink="/shop" routerLinkActive="active" class="contact-heading">Shop </a>
    <a routerLink="" routerLinkActive="active" class="contact-heading">Gallery</a>
  </div>
</div>
<div class="sub-footer flex jc-between fw-wrap ai-center bg-dark p-a-s">
  <p>2019 EXO BRANDS. All rights reserved | <a href="https://visitexo.com/sitemap.xml">SITE MAP</a></p>
  <div class="flex">
    <p>Website built with</p>
    <img src="assets/icons/favorite.svg" alt="" class="m-x-xs">
    <p>by <a href="https://sharq.agency/"><span class="fw-bold c-light"> sharq </span></a><span class="fw-bold c-warn">.</span></p>
  </div>
</div>
