.gallery-wrapper {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  max-height:1410px;
  top: 0;
  left: 20%;
  width: calc(470px + 1px);
  margin: 0;
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-345px);
  transform-origin: right top;
  scroll-snap-type: y mandatory;
}

.images {
  padding: 1470px 0 0 0;
}


.slider-img {
  padding: 5px;
  transform: rotate(90deg);
  transform-origin: right top;
  width: 470px;
  height: 470px;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  scroll-snap-align: center;
}




.next-image:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .3;
}

.progress-bar {
  height: 1px;
  background: #C9C9C9;
  width: 75%;
}

.arrows-container {
  max-width: 90%;
  button {
    border: none;
    outline: none;
    background: none;
  }
}

.gallery-container {
  height: 600px;
  overflow: hidden;
}

.gallery-wrapper::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.gallery-wrapper::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}



@media (max-width: 900px) {

  .images {
    padding: 1470px 0 0 0;
  }

  .gallery-wrapper {
    left: 0;
    max-height: 100%;
    transform: rotate(-90deg) translateY(-739px);
  }
}

@media (max-width: 750px) {

  .images {
    padding: 965px 0 0 0;
  }

  .gallery-wrapper {
    left: 0;
    max-height: 100%;
    transform: rotate(-90deg) translateY(-460px);
  }
}



@media (max-width: 600px) {
  .gallery-wrapper {
    left: 0;
    width: 450px;
    max-height: 100%;
    transform: rotate(-90deg) translateY(-915px);
  }

  .arrows-container {
    max-width: 100%;
  }

  .slider-img {
    margin: 25px 0;
    width: 450px;
  }

  .gallery-container {
    height: 550px;
  }

}
