.gallery {
  height: 650px;
  &-outer {
    width: 550px;
    height: 70vw;
    transform: rotate(-90deg) translateX(-550px);
    transform-origin: top left;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    scroll-snap-type: y mandatory;
    left: 27%;
    top: 0;
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    width: 1000vw;
    transform: rotate(90deg) translateY(-550px);
    transform-origin: top left;
  }
  &-image {
    transform-origin: right top;
    width: 750px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    scroll-snap-align: center;
    margin-right: 50px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
  }
}

.gallery-outer::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.gallery-outer::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}


.progress-bar {
  height: 1px;
  background: #C9C9C9;
  width: 75%;
}

.arrows-container {
  max-width: 90%;
  button {
    border: none;
    outline: none;
    background: none;
  }
}





@media (max-width: 900px) {

  .gallery-outer {
    left: 0;
    height: 100vw;
  }

  .gallery-image {
    margin: 0 20px;
    width: 100vw;
  }

  .arrows-container {
    max-width: 100%;
  }

  .progress-bar {
    width: 100%;
  }


}


